<%= form_with(model: mymapstuff) do |form| %>
  <% if mymapstuff.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mymapstuff.errors.count, "error") %> prohibited this mymapstuff from being saved:</h2>

      <ul>
        <% mymapstuff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :x, style: "display: block" %>
    <%= form.text_field :x %>
  </div>

  <div>
    <%= form.label :y, style: "display: block" %>
    <%= form.text_field :y %>
  </div>

  <div>
    <%= form.label :mypic_id, style: "display: block" %>
    <%= form.number_field :mypic_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
