<div id="<%= dom_id mymapstuff %>">
  <p>
    <strong>Title:</strong>
    <%= mymapstuff.title %>
  </p>

  <p>
    <strong>X:</strong>
    <%= mymapstuff.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= mymapstuff.y %>
  </p>

  <p>
    <strong>Mypic:</strong>
    <%= mymapstuff.mypic_id %>
  </p>

</div>
