<%= form_with(model: mypic) do |form| %>
  <% if mypic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mypic.errors.count, "error") %> prohibited this mypic from being saved:</h2>

      <ul>
        <% mypic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% Mypic.locale_columns(:title).each do |column| %>
      <p>
          <%= form.label column %>
              <%= form.text_field column %>
                </p>
              <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
